body, html {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: thistle;
}
* {
    box-sizing: border-box;
}
#fullnametag {
display: inline-grid;
grid-template-columns: auto;
padding: 10px;
width: 350px;
}

.nametag {
    background-color: red;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: white;
    grid-template-rows: 1fr 1fr;
}

#hello {
    font-size: 5rem;
    border-radius: 20px 20px 0px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
}
#mine-is {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ndisplay {
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 3rem;
    margin-bottom: 0px;
    grid-row-start: 3;
    grid-row-end: 3;
}
#pdisplay {
    background-color: white;
    border-bottom: 20px solid red;
    border-radius: 0px 0px 20px 20px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-top: 0px;
    grid-row-start: 4;
    grid-row-end: 4;
}
#name, #pronouns {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    height: 30px;
    width: 150px;
    margin-top: 5px;
    background-color: rgba(221, 162, 198, 0.733);
}
#nameButton, #pronounButton {
    background-color: rgb(204, 200, 200);
    height: 30px;
    width: 50px;
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50px;
    justify-content: inherit;
    padding: 5px;
    margin-left: 100px;
    margin-top: 20px;
}
#rust-button {
    background-color:sienna;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(255, 168, 96);
}
#rose-button {
    background-color: rosybrown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(78, 0, 55);
}
#moss-button {
    background-color:olivedrab;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 255, 20);
    letter-spacing: 1px;
}
#change {
   margin-left: 60px;
   margin-top: 40px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}